# Entorno local
local.properties

# Gradle/Android build artifacts
.gradle/
**/build/

# Archivos de IDE
.idea/
*.iml

# Configuración local de daemon de Gradle
gradle/gradle-daemon-jvm.properties
/app/imagesMockup/

.DS_Store
.serena/

jmeter.log
jmeter/results/*.jtl